@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&family=Montserrat&display=swap');

/* font-family: 'Lobster Two', cursive;
font-family: 'Montserrat', sans-serif; */

/* Body  */

body {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    color: #41648B;
}


/* Navigation */

nav {
    position: fixed;
    z-index: 100;
}

.navbar-brand,
.nav-item,
.navbar {
    color: #f5f4f4;
    background-color: #81C5DF;
    font-family: 'Lobster Two', cursive;
    font-weight: 400;
    font-size: 1.2em;
}

a {
    color: #f5f4f4;
    text-decoration: none;
    background-color: transparent;
}

.navbar-brand:hover, 
.nav-item a:hover,
.active {
    text-decoration: underline;
    color: #f5f4f4;
}

.nav-link.active, 
.nav-pills 
.show>.nav-link {
    color: #f5f4f4;
    background-color: #81C5DF;
}

.navbar-dark .navbar-nav .nav-link {
    color: #f5f4f4;
}

/* .navbar-toggler-icon,
.navbar-dark {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255,102,203, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
} */


/* hero image */

.hero {
    height: 80vh;
    background: url('../images/conscious-design-J16LdoIsRJM-unsplash.jpg'); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    justify-content: center;
    align-items: center;
    position: relative;
}

h1 {
    font-family:'Lobster Two', sans-serif;
    font-weight: 700;
    color: #41648B;
    background-color: #f5f4f4;
    border-radius: .4rem;
}

.heading {
    width: 300px;
    height: 100px;
    margin-top: 150px;
    background-color: rgba(129, 197, 223, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
    text-align: center;
    border-radius: 0.3rem;
}

/* About */

h4 {
    text-decoration: underline;
    font-size: 2em;
    font-family: 'Lobster Two', sans-serif;
    padding-bottom: 20px;
    padding-top: 20px;
}
.about-right,
.about-left{
    font-size: 1em;
}

.about-center {
    text-align: center;
}



/* Pricing  */
.pricing {
    background-color: #B3E8F4;
    color: #41648B;
}

/* Reviews  */


/* Find  */


/* Footer  */

footer {
    overflow-y: scroll;
    height: 50px;
    color: #f5f4f4;
    background-color: #81C5DF;
    font-family: 'Lobster Two', cursive;
    font-weight: 400;
    font-size: 1.2em;
}