@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Space+Grotesk:wght@400;500&display=swap");
/* 
font-family: 'Roboto', sans-serif;
font-family: 'Space Grotesk', sans-serif; */

/* Body  */
html,
body {
  font-family: "Roboto", sans-serif;
  color: #80a1d4;
  position: relative;
  padding: 0px;
  margin: 0;
  overflow-x: hidden;
}

h1 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 600;
  background-color: #f7f4ea;
  border-radius: 0.4rem;
}

h3 {
  text-decoration: underline;
  font-family: "Space Grotesk", sans-serif;
}

h4 {
  text-decoration: underline;
  font-size: 1.5em;
  font-family: "Space Grotesk", sans-serif;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: center;
}

p {
  font-size: 90%;
}

/* Navigation */

nav {
  z-index: 100;
  background-color: #80a1d4;
  height: 60px;
}

.navbar-brand,
.nav-item,
.navbar {
  color: #fff;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 400;
  font-size: 1em;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-toggler {
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}

.navbar-brand:hover,
.nav-link:hover,
.nav-item a:hover,
.active {
  text-decoration: underline;
  color: #f7f4ea;
}

/* hero image */

.hero {
  height: 80vh;
  padding-top: 100px;
  background: url("../images/conscious-design-J16LdoIsRJM-unsplash.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  justify-content: center;
  align-items: center;
  position: relative;
  background-position: top right;
}

.jumbotron-index {
  margin-top: 10px;
  margin-left: 50px;
  position: absolute;
  text-align: center;
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: rgba(245, 244, 244, 0.8);
  border-radius: 0.5rem;
}
.jumbotron h1 {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

/* About Shiatsu */

.shiatsu-section {
  padding-bottom: 40px;
}

/* About Shin Tai  */

.shintai-section {
  padding-bottom: 40px;
  padding-top: 10px;
  background-color: #75c9c8;
  color: #f7f4ea;
}

.shintai-card {
  background-color: #75c9c8;
  color: #f7f4ea;
  border-color: #f5f4f4;
  border-width: 2px;
}

.shintai-card li {
  font-size: 90%;
}

/* About Me  */

.about-me {
  padding-bottom: 40px;
}

/* Pricing  */
.price-section {
  padding-bottom: 40px;
  padding-top: 10px;
  background-color: #c0b9dd;
  color: #f7f4ea;
  text-align: center;
}

.youtube {
  padding: 20px 0;
}

/* Reviews  */

.review-section {
  padding-bottom: 40px;
}

.review p {
  font-size: 70%;
}

/* Find  */

.find-me {
  padding-bottom: 40px;
  background-color: #75c9c8;
  color: #f7f4ea;
}

/* Footer  */

footer {
  background-color: #80a1d4;
}

.contact-footer {
  position: fixed;
  overflow-y: hidden;
  left: 0;
  bottom: 0;
  width: 100%;
}

.sm-links {
  text-align: right;
  margin-right: 20px;
}

.sm-links li {
  /* width: 50px; */
  height: 30px;
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 1.5em;
  color: #fff;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.sm-links li a i:hover {
  color: #f7f4ea;
  text-decoration: underline;
}

.sm-link-shiatsu li img {
  width: 50px;
  height: auto;
  text-align: left;
  align-items: center;
  margin-top: 15px;
}

/* contact me  */

#hero-contact {
  height: 578px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

#hero-contact-image {
  height: 578px;
  width: 100%;
  background: url("/assets/images/laurent-gence-lX7-dfIaeUc-unsplash.jpg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 100;
}

.contact-hero {
  padding: 0;
  margin: 0;
}
.reset {
  color: #f7f4ea;
  background-color: #81c5df;
}

.submit {
  color: #81c5df;
  background-color: #f7f4ea;
}

btn:hover {
  color: green;
}
